.hide {
    display: none;
}

.posts {
    margin-top: 8px;
}

.main-blocks {
    list-style-type: none;
    padding: 0;
}

#bigAvatar {
    width: 100%
}

.main-blocks li, .wall-post {
    margin-bottom: 20px;
    border: 1px solid #ededed;
    padding: 20px;
    border-radius: 4px
}

.project-icon {
    width: 20px;
    height: 20px;
}

.edit-field-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.attach-button {
    margin-left: 8px;
}

.attach-button img {
    width: 30px;
}

#attached-content {
    margin-bottom: 8px;
}

.wall-attachment {
    margin-top: 8px;
}

.delete-post img, .edit-post img {
    width: 10px;
}

.edit-post {
    margin-right: 8px;
}

.disabled-content {
    pointer-events: none;
    opacity: 0.4;
}

.loader-animation {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#iFollowUsers li, #photoAlbums li, #videoPlaylists li {
    border: 0;
    padding: 0;
}

#photoAlbums li, #videoPlaylists li, .vk-list-photos li, .vk-list-videos li {
    margin-right: 0 !important;
    padding-right: 8px;
}

.clear-both {
    clear: both;
}

.preview-album-photo {
    max-width: 245px;
    max-height: 245px;
}

.photo-uploaded-insta {
    opacity: 0.2;
}

.preview-images li {
    margin-bottom: 8px;
}

.i-follow-li {
    position: relative;
}

.delete-img-i-follow {
    width: 10px;
}

.delete-i-follow {
    position: absolute;
    top: -20px;
    left: 20px;
}

.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #fff;
    background: url(../img/bg-pattern.png), linear-gradient(to left, #7b4397, #dc2430);
}

.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
}

.masthead .header-content h1 {
    font-size: 30px;
}

.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
}

.masthead .device-container .screen img {
    border-radius: 3px;
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .masthead .header-content {
        margin-bottom: 0;
        text-align: left;
    }

    .masthead .header-content h1 {
        font-size: 50px;
    }

    .masthead .device-container {
        max-width: 325px;
    }
}

.btn-outline {
    color: white;
    border: 1px solid;
    border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #fdcc52;
    background-color: #fdcc52;
}

.bg-dark {
    background-color: #0092e7 !important;
}

.fake-nav .nav-link {
    color: white;
}

.fake-nav .nav-link:hover {
    color: #dbedff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #177ce3;
}

.photoalbum-img {
    width: 100%;
}

.videoalbum-img {
    width: 100%;
}

.vk-list-photos, .vk-list-videos {
    margin-top: 8px;
}

.vk-list-photos img, .vk-list-videos img {
    object-fit: cover;
    width: 168px;
    height: 168px;
}

.preview-wall-image > li img, .post-photoalbum-item img, .post-videoalbum-item img, .post-attachment .img-preview {
    object-fit: cover;
    width: 179px;
    height: 179px;
}

.page-videoalbum-item img {
    object-fit: cover;
    width: 237px;
    height: 237px;
}

.preview-album-photo {
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.wall-attachment .post-photoalbum-item {
    border: 0;
}

.post-photoalbum-item, .post-videoalbum-item {
    padding: 0 !important;
    border: 0 !important;
}

.img {
    display: inline-block;
    background: url('png.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.img-instagram {
    width: 30px;
    height: 30px;
    background: url("../img/instagram.png?__spriter") 0 0;
}

.img-home {
    width: 20px;
    height: 20px;
    background: url("../img/home.png?__spriter") no-repeat;
    background-size: 20px;
}

.vertical-pills li {
    border: 0;
}

li > p:last-child {
    margin-bottom: 0;
}

.i-follow-news-li {
    margin-bottom: 8px;
}

.size-50 {
    max-width: 50px;
    max-height: 50px;
}

.size-30 {
    max-width: 30px;
    max-height: 30px;
}

.size-36 {
    max-width: 36px;
    max-height: 36px;
}

.size-179 {
    max-width: 179px;
    max-height: 179px;
}

.message-dialogs-info {
    margin-top: 18px;
}

.message-dialogs {
    margin-top: 8px;
}

.photo-attachment, .post-attachment[data-type="photo"] {
    position: relative;
}

.delete-post-content {
    position: absolute;
    font-size: 35px;
    color: white;
    left: 15px;
    top: 0;
    cursor: pointer;
}

.delete-post-attachment {
    margin-right: 8px;
}

.delete-post-attachment img {
    max-width: 12px;
}

.post-attachment.list-inline-item {
    margin-bottom: 8px;
}

.news-owner {
    margin-bottom: 8px;
}

.message-dialog-user {
    border-top: 1px solid #ededed;
    padding: 20px;
}

.message-dialog-user p {
    margin: 0;
}

.dialogs-column {
    border: 1px solid #ededed;
    padding: 0;
}

.message-last-dialogs {
    margin-left: 16px;
    margin-top: 16px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

img {
    max-width: 100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    padding: 0;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 8px 0 8px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 516px;
    overflow-y: auto;
}

.chat_list {
    cursor: pointer;
}