.posts {
    margin-top: 8px;
}

.main-blocks {
    list-style-type: none;
    padding: 0;
}

#bigAvatar {
    width: 100%
}

.main-blocks li, .wall-post {
    margin-bottom: 20px;
    border: 1px solid #ededed;
    padding: 20px;
    border-radius: 4px
}

.project-icon {
    width: 20px;
    height: 20px;
}

img {
    max-width: 100%;
}

.attach-button {
    margin-left: 8px;
}

.attach-button img {
    width: 30px;
}

#attached-content {
    margin-bottom: 8px;
}

.wall-attachment {
    margin-top: 8px;
}

.delete-post img {
    width: 10px;
}

.disabled-content {
    pointer-events: none;
    opacity: 0.4;
}

.loader-animation {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#iFollowUsers li, #photoAlbums li {
    border: 0;
    padding: 0;
}

#photoAlbums li {
    margin-right: 0;
}

.clear-both {
    clear: both;
}

.preview-album-photo {
    max-width: 245px;
    max-height: 245px;
}

.photo-uploaded-insta {
    opacity: 0.2;
}

#viewAlbumContent li {
    margin-bottom: 8px;
}