.posts {
    margin-top: 8px;
}

.main-blocks {
    list-style-type: none;
    padding: 0;
}

#bigAvatar {
    width: 100%
}

.main-blocks li, .wall-post {
    margin-bottom: 20px;
    border: 1px solid #ededed;
    padding: 20px;
    border-radius: 4px
}

.project-icon {
    width: 20px;
    height: 20px;
}

img {
    max-width: 100%;
}

.attach-button {
    margin-left: 8px;
}

.attach-button img {
    width: 30px;
}

#attached-content {
    margin-bottom: 8px;
}

.wall-attachment {
    margin-top: 8px;
}

.delete-post img {
    width: 10px;
}